body{
    background-image: url(./pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg);
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    color: white;
    font-family:;

}

.container{
    text-align: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align:top;
    border: 1;
    border-style: solid;
    border-width: 0.1px;
    height:400px;
    width: 350px;
    margin-top: 90px;
    margin-left:400px;
}
button{
    height:30px;
    width:200px;
    border-radius: 15px;
    border-width:0;
    background:linear-gradient(to left,blue,rgb(247, 14, 150));
}
input{
    border-width:0;
    text-align: left;
    height: 25px;
    width: 280px;
    border-top-right-radius: 10px;
    background:linear-gradient(to left,grey,black);
}


